@import "../core/mixins/border-radius";

.alert{
    font-size: 13px;
    font-weight: 500;

    @include border-radius(3px);
    
    &.alert-primary{
        // background-color: lighten($app-brand-primary, 18%);
        background-color: color(alert-primary-bg);
        border-color: $app-brand-primary;
    }
    &.alert-secondary{
        // background-color: lighten($app-brand-secondary, 15%);
        background-color: color(alert-secondary-bg);
        border-color: $app-brand-secondary;
    }
    &.alert-success{
        background-color: $app-alert-success;
        border-color: darken($app-alert-success, 55%);
    }
    &.alert-danger{
        background-color: $app-alert-danger;
        border-color: darken($app-alert-danger, 20%);
    }
    &.alert-warning{
        background-color: $app-alert-warning;
        border-color: darken($app-alert-warning, 20%);
    }
    &.alert-info{
        background-color: $app-alert-info;
        border-color: darken($app-alert-info, 20%);
    }
    &.alert-light{
        background-color: $app-alert-light;
        border-color: darken($app-alert-light, 20%);
    }
    &.alert-dark{
        background-color: $app-alert-dark;
        border-color: darken($app-alert-dark, 20%);
    }
}