
@import "../core/mixins/border-radius";

.badge {
    padding: 5px 15px 4px 15px;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    border: solid 1px transparent;

    @include border-radius(4px);

    + .badge {
        margin-left: 10px;
    }

    &.grid-badge {
        font-size: 11px;
        line-height: normal;
    }
    &.badge--small {
        padding: 2px 15px 0px 15px !important;
        font-size: 11px;
        text-transform: uppercase;
    }
}

.app-c-badge-base{
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    line-height: normal;

    &.app-c-badge-base--primary{
        color: #4c71f0;
    }
    &.app-c-badge-base--default{
        color: #bfbfbf;
    }
    &.app-c-badge-base--success{
        color: #1cb83e;
    }
}

$open : #EB5757;
$in-progress :#FE951A;
$approved : #44AB66;

.badge-open {
    border-color: $open;
    background: rgba($open, 0.07);
    color: $open;
}
.badge-in-progress{
    border-color: $in-progress;
    background: rgba($in-progress, 0.07);
    color: $in-progress;
}
.badge-approved{
    border-color: $approved;
    color: $approved;
    background: rgba($approved, 0.07);
}

$available: #91EFDE;
$available-text: #004F40;

.badge-available{
    border-color: $available;
    color: $available-text;
    background: $available;
}


$in-use: #EDDB9A;
$in-use-text: #5B4700;

.badge-in-use{
    border-color: $in-use;
    color: $in-use-text;
    background: $in-use;
}


$interrupted: #EDEDF3;
$interrupted-text: #7C8B9D;

.badge-interrupted{
    border-color: $interrupted;
    color: $interrupted-text;
    background: $interrupted;
}



$publishing: #FFD9FB;
$publishing-text: #89008C;

.badge-publishing {
    border-color: $publishing;
    color: $publishing-text;
    background: $publishing;
}


$published: #E3EBFF;
$published-text: #0400DA;

.badge-published{
    border-color: $published;
    color: $published-text;
    background: $published;
}

$submitted: #A3EDFF;
$submitted-text: #007590;

.badge-submitted{
    border-color: $submitted;
    color: $submitted-text;
    background: $submitted;
}

$running: #ECE4FF;
$running-text: #5B2FB0;

.badge-running{
    border-color: $running;
    color: $running-text;
    background: $running;
}

$failed: #FFE4E4;
$failed-text: #AF3838;

.badge-failed{
    border-color: $failed;
    color: $failed-text;
    background: $failed;
}