// General button sizes
@import "../core/mixins/border-radius";
@import "../core/mixins/transform";
@import "../core/mixins/transitions";
@import "../core/mixins/button-size";
@import "../core/mixins/flexbox";
@import "../core/mixins/box-shadow";
@import "../core/mixins/truncate";

@import "../variables/variables";
@import "../theme/theme";

.app-c-btn {
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    font-weight: 500;
    color: #4f3f43;
    padding: 6px 24px;
    font-size: $text-md;
    line-height: 18px;
    outline: none;
    font-family: $body-font;
    max-width: 100%;
    min-width: 0;

    @include transition(background ease 0.3s, color ease 0.3s, border ease 0.3s, box-shadow ease 0.3s);
    @include inline-flex();
    @include align-items(center);
    @include border-radius(3px);
    @include truncate();

    +.app-c-btn {
        margin-left: 8px;
    }

    &:hover{
        text-decoration: none;
        outline: none;
    }

    &:active, &.active {
        outline: 0;
        background-image: none; // @include boxShadow(inset 0 3px 5px rgba(0,0,0,.125));

        @include noShadow();
    }

    &:focus {
        @include noShadow();
    }

    &.disabled, &[disabled], fieldset[disabled] & {
        cursor: $cursor-disabled;
        opacity: 0.6;
        pointer-events: none;

        @include boxShadow(none);

        &:hover, &.hover {
            @include boxShadow(none);
        }
    }
}

.app-c-btn--primary {
    background: $app-brand-primary;
    border-color: $app-brand-primary;
    color: $white;
    min-width: 80px;

    @include justify-content(center);

    &:hover, &:active, &:focus {
        background: $app-brand-primary-dark;
        border-color: $app-brand-primary-dark;
        outline: none;
    }

    &[disabled]{
        background: $app-brand-primary-disable;
        border-color: $app-brand-primary-disable;
        color: $text-dark-normal;
    }
}

.app-c-btn--secondary {
    background: $app-brand-secondary;
    border-color: $app-brand-primary;
    color: $app-brand-primary;
    min-width: 80px;

    @include justify-content(center);

    &:hover, &:active, &:focus  {
        outline: none;
        background: $app-brand-primary-disable;
    }

    &[disabled]{
        color: #9D999A;
        background: $neutrals-color4;
        border-color: $secondary-btn-disabled;
        // border-color: lighten(desaturate($app-brand-primary, 61.41), 65.49);
    }
}

.app-c-btn--icon-text{
    border: 2px solid $app-brand-primary;
    background: #ffffff;
    padding-left: 14px;
    padding-right: 14px;
    outline: none;

    i{
        font-size: 13px;
        margin-right: 5px;

        @include flex-shrink(0);
    }
    &:hover, &:focus{
        outline: none;
    }
}
.app-c-btn--success {
    background: $dark-green;
    color: $white;
    border-color: $dark-green;

    &:hover {
        background: darken($dark-green, 10%);
        border-color: $dark-green;
        outline: none;
    }

    &:active, &:focus {
        @include noShadow();
        outline: none;
    }
}

.app-c-btn--danger {
    background: $dark-red;
    color: $white;
    border-color: $dark-red;


    &:hover {
        background: darken($dark-red, 10%);
        border-color: $dark-red;
        outline: none;
    }

    &:active, &:focus {
        outline: none;

        @include noShadow();
    }
}

.app-c-btn--warning {
    background: $dark-yellow;
    color: $white;
    border-color: $dark-yellow;

    &:hover {
        background: darken($dark-yellow, 10%);
        border-color: $dark-yellow;
        outline: none;
    }

    &:active, &:focus{
        outline: none;

        @include noShadow();
    }
}

.app-c-btn--info {
    background: $dark-blue;
    color: $white;
    border-color: $dark-blue;

    &:hover {
        background: darken($dark-blue, 10%);
        border-color: $dark-blue;
        outline: none;
    }

    &:active, &:focus {
        outline: none;

        @include noShadow();
    }
}

.app-c-btn--light {
    background: $light-grey;
    border-color: $light-grey;


    &:hover {
        background: darken($light-grey, 10%);
        border-color: $light-grey;
        outline: none;
    }

    &:active, &:focus {
        outline: none;

        @include noShadow();
    }
}

.app-c-btn--dark {
    background: $dark-grey;
    color: $white;
    border-color: $dark-grey;


    &:hover {
        background: darken($dark-grey, 10%);
        border-color: $dark-grey;
        outline: none;
    }

    &:active, &:focus {
        outline: none;

        @include noShadow();
    }
}

.app-c-btn--default {
    background: $pear;
    color: $app-brand-primary;

    &:hover {
        background: darken($pear, 10%);
        border-color: $pear;
        outline: none;
    }

    &:active, &:focus{
        outline: none;

        @include noShadow();
    }
}

.app-c-btn--link {
    background: transparent;
    border-color: transparent;
    color: $app-brand-primary;
    text-decoration: underline;
    font-size: 12px;

    &:hover {
        color: $app-brand-primary;
        text-decoration: underline;
        
        @include noShadow();
    }
}

.app-c-btn--addon {
    i {
        margin-right: 5px;
    }
}

.app-c-btn--block {
    display: block;
    width: 100%;

    +.app-c-btn--block {
        margin-left: 0px;
        margin-top: 10px;
    }
}

.app-c-btn--transparent {
    border: 1px solid #363a43;
    background-color: #1a1f30;
    color: #636A7E;

    @include border-radius(16px);

    &:hover {
        border: 1px solid #81889c;
        background-color: #3f4761;
        color: rgba(255, 255, 255, 0.9);
        outline: none;
    }

    &:active, &:focus{
        outline: none;

        @include noShadow();
    }
}

// Button Sizes
// --------------------------------------------------
.app-c-btn-lg {
    height: auto !important;
    padding: 15px 16px;
    font-size: 20px;
}

.app-c-btn-sm {
    height: auto !important;
    padding: 7px 10px;
    font-size: 12px;
}

.app-c-btn-xs {
    height: auto !important;
    padding: 4px 8px;
    font-size: 10px;
}

.app-c-btn-block {
    display: block;
    width: 100%;
    margin-left: 0px !important;

    +.app-c-btn-block {
        margin-top: 10px;
    }
}

//Input type file styles
//----------------------------------------------------
.app-c-btn-file {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 4px 10px;

    label {
        @media only screen and (max-width: 1024px) and (min-width: 768px) {
            max-width: 100%;
            white-space: initial;
            overflow: initial;
            text-overflow: initial;
        }
    }
}

.app-c-btn-file input[type=file] {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

//Button group
//----------------------------------------------------
.app-c-btn-group {
    @include inline-flex();
    position: relative;
    vertical-align: middle;

    >.app-c-btn {
        position: relative;
        @include flex(1,1,auto);

        +.app-c-btn {
            margin-left: 0px;
        }

        &:not(:first-child),
        &:not(.dropdown-toggle) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:last-child),
        &:not(.dropdown-toggle) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}


.app-c-btn--icon{
    width: 30px;
    height: 30px;
    background: $white;
    color: $text-dark-medium;
    padding: 0;
    font-size: 16px;
    outline: none;

    @include border-radius(3px);
    @include inline-flex();
    @include align-items(center);
    @include justify-content(center);
    
    &:hover{
        outline: none;
        background: $neutrals-color3;
    }
    &:focus, &:active{
        outline: none;
        background: $neutrals-color2;
        color: $white;
    }

    &.app-c-btn--icon-primary{
        background: $app-brand-primary;
        border-color: $app-brand-primary;
        color: $white;

        &:hover{
            background: $primary-btn-hover;
            // background: lighten($app-brand-primary, 8%);
            border-color: $primary-btn-hover;
            // border-color: lighten($app-brand-primary, 8%);
            outline: none;
        }
    
        &:active, &:focus {
            background: $primary-btn-active-focus;
            // background: lighten($app-brand-primary, 12%);
            border-color: $primary-btn-active-focus;
            // border-color: lighten($app-brand-primary, 12%);
        }
        &[disabled]{
            background: $primary-btn-disabled;
            // background: lighten($app-brand-primary, 16%);
            border-color: $primary-btn-disabled;
            // border-color: lighten($app-brand-primary, 16%);
        }
    }

    &.app-c-btn--icon-border{
        background: $white;
        border: $generic-border-color 1px solid;
        color: $text-color-light;

        @include border-radius(3px);

        &:hover{
            outline: none;
            border-color: $app-brand-primary;
            background: $app-brand-primary;
            color: $white;
        }
        &:focus, &:active{
            border-color: $app-brand-primary-dark;
            color: $white;
            background: $app-brand-primary-dark;
        }
    }


    &.app-c-btn--icon-static {
        background: $white;
        border: $generic-border-color 1px solid;
        color: $text-color-light;

        @include border-radius(3px);

        &:focus, &:active{
            border-color: $app-brand-primary-dark;
            color: $white;
            background: $app-brand-primary-dark;
        }
        &.selected {
            border-color: $app-brand-primary-dark;
            color: $white;
            background: $app-brand-primary-dark;
        }
    }

    &.overflow-visible {
        overflow: visible;
    }
}

.app-c-btn--icon-24px{
    width: 24px;
    height: 24px;
    font-size: 13px;
}
.app-c-btn--icon-20px{
    width: 20px;
    height: 20px;
    font-size: 12px;
}
.app-c-btn--icon-16px{
    width: 16px;
    height: 16px;
    font-size: 10px;
}

.app-c-btn--icon--small{
    background: none;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 12px;
    color: $text-color;

    &:hover, &:focus{
        color: $app-brand-primary;
    }
}

//Input group
//----------------------------------------------------

.input-group {
    >.input-group-append {
        .app-c-btn {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}

.app-c-btn__round{
    width: 17px;
    height: 17px;
    background: $app-brand-primary;
    padding: 0;
    outline: none;
    border: none;
    color: $white;
    font-size: 7px;

    @include border-radius(50%);
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
}