//Card
//----------------------------------------------------

@import "../core/mixins/border-radius";
@import "../core/mixins/box-shadow";
@import "../core/mixins/flexbox";
@import "../core/mixins/transitions";
@import "../theme/theme";

.card {
    background: $white;
    margin: 15px 0px;
    border-color: $app-card-border;

    @include border-radius(3px);
    @include boxShadow(0 5px 10px rgba(0, 0, 0, 0.05));

    .card-header{
        border-color: $app-card-border;
        background-color: $app-card-header;
    }

    // .card-body {
    //     padding: 15px;
    // }

    .card-footer {
        background: transparent;
        border-color: $app-card-border;
    
        .app-c-btn {
            @media screen and (max-width: 600px) {
                display: block;
                width: 100%;
                + .app-c-btn {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 10px;
                }
            }
        }
    }
    
}

.card-title {
    margin-bottom: 10px;
    color: $black;
    h5 {
        font-size: 18px;
        margin-bottom: 0px;
        margin-top: 0;
    }
}

.card-sub-title {
    margin-bottom: 8px;
    h6 {
        display: inline-block;
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 0;
    }
}

.app-l-card-footer-code {
    border-top: $generic-border-color 1px solid;
    padding: 8px 16px;

    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-end);

    @media screen and (max-width: 480px){
        @include flex-wrap(wrap);
        @include justify-content(flex-start);
    }

    > * {
        @media screen and (max-width: 480px){
            width: 100%;
        }
        +  * {
            @media screen and (max-width: 480px){
                margin-top: 5px;
                margin-left: 0;
                width: 100%;
            }
        }
    }
    > .app-c-btn {
        &.app-c-btn--icon {
            width: 30px;
            
            @media screen and (max-width: 480px){
                width: 30px;
                margin-right: 8px;
            }
        }
    }
}

.app-c-card--default{
    background: $white;
    position: relative;

    @include border-radius(6px);
    @include boxShadow( 0px 3px 6px $card-shadow);

    &.app-c-card--no-shadow{
        @include noShadow();
    }
    &.app-c-card--grey{
        background: $app-card-grey;
    }
    .app-c-card__header{
        padding: 8px 16px;

        @include flexbox();
        @include align-items(center);

        @media screen and (max-width: 767px){
            padding-left: 14px;
            padding-right: 14px;

            @include flex-wrap(wrap);
        }

        .app-c-card__heading{
            color: $text-color;
            font-weight: 500;
            font-size: 15px;
            margin: 0;
        }
        .app-c-btn{
            margin-left: 8px;
            // font-size: 11px;
        }
        .app-l-btn-cluster-wrap {
            .app-c-btn{
                margin-left: 0px;
            }
        }

        .app-l-card-head-left {
            @include flexbox();
            @include align-items(center);
        }
        .app-l-card-head-right {
            @include flexbox();
            @include align-items(center);
            @include justify-content(flex-end);

            margin-left: auto;

            &.app-l-high-res-controls {

                @media screen and (max-width: 767px) {
                    @include flex-wrap(wrap);
                    @include justify-content(flex-end);
                }
                @media screen and (max-width: 576px) {
                    display: none;
                }

                > * {
                    @media screen and (max-width: 767px){
                        margin: 0px 0px 4px 8px;
                    }
                }
            }
        }

        + .app-c-card__body {
            border-top: solid 1px $neutrals-color3;
        }
    }

    .app-c-card__body{
        padding: 16px;
    }
    
    .app-c-card__footer{
        @extend .app-l-card-footer-code;

        &.low-res-footer {
            display: none;

            @media screen and (max-width: 576px) {
                @include flexbox();
            }
        }
    }
    .app-l-card-form {
        width: 100%;
        margin: 0;
    }
    &.app-c-card--full-width{
        @include border-radius(0px);
        @include boxShadow(0px 3px 6px #E3E3E3);
    }

    form {
        .app-c-form--inline-label{
            .app-l-form__inline-right{
       
                .app-l-form__inline-value{
                    max-width: 60px;
                    min-width: 0px;

                    &.full-width {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    &.app-l-sticky-page-bg {
        background: $app-card-grey;
    }
}

.app-l-card-group-holder{
    max-width: 1400px;
    margin: -8px;

    @include flexbox();
    @include flex-wrap(wrap);

    .form-group{
        margin: 8px;
    }
}

.app-c-card--secondary{
    border: $data-card-border 1px solid;
    // border: lighten(desaturate($app-brand-primary, 61.41), 65.49) 1px solid;
    overflow: hidden;
    height: 100%;

    @include border-radius(4px);
    @include flexbox();
    @include flex-direction(column);

    .app-c-card--header{
        padding: 8px 8px 8px 16px;
        border-bottom: $data-card-border 1px solid;
        background: $data-card-header-bg;
        // background: lighten(desaturate($app-brand-primary, 72.31), 70.98);

        @include flex-shrink(0);
        @include flexbox();
        @include align-items(center);

        .app-c-card--header-left{
            padding-right: 10px;

            @include flex-shrink(0);
        }
        .app-c-card--header-right{
            width: 100%;
            max-width: 184px;
            margin-left: auto;
        }
    }

    .app-c-card--body{
        height: 100%;
        overflow: auto;
        padding: 17px 8px 17px 0;

        @include flexbox();
        @include flex-direction(column);

        .app-c-checkbox__vertical-list{
            height: 100%;
            overflow: auto;
            padding: 5px 0px 5px 16px;
            
            &.app-l-roles-listing {
                padding: 0;
            }
        }
    }

    &.app-l-roles-card {
        .app-c-card--body {
            padding: 13px 0px;
        }
    }
}