.app-c-chips{
    padding: 6px 10px;
    background: $white;
    border: 1px solid $generic-border-color;

    @include flexbox();
    @include align-items(center);
    @include border-radius(4px);
    @include boxShadow(0px 1px 4px rgba(17, 25, 45, 0.1));
    @include transition(box-shadow 0.2s ease);

    &:hover {
        @include boxShadow(0px 1px 4px rgba(17, 25, 45, 0.25));

        .app-c-chips--label {
            color: $black;
        }
    }

    .app-c-chips--icon{
        color: #233B58;
        font-size: 15px;
        margin-right: 9px;

        @include flex-shrink(0);

        i{
            display: block;
            line-height: normal;
        }
    }
    .app-c-chips--label{
        width: 100%;
        color: $text-dark-medium;
        font-size: $text-md;
        font-weight: 400;

        @include transition(color 0.3s ease);
    }
    .app-c-chips--close{
        margin-left: 10px;

        @include flex-shrink(0);

        .app-c-btn--icon--small{
            font-size: 9px;

            &:hover {
                color: $app-brand-primary;
            }
            &:focus {
                color: $app-brand-primary;
            }
        }
    }
}

.app-l-card-seperator-section {
    margin: 8px;
    width: 100%;
    max-width: 100%;

    .app-l-heading--h4 {
        margin-top: 8px;
        margin-bottom: 0;
    }
}