.dx-popup-wrapper{
    .dx-colorbox-overlay{
        border-color: $dx-colorbox-border;
        // border-color: lighten(desaturate($app-brand-primary, 78.65), 36.47);

        @include boxShadow(0px 3px 6px rgba(63, 63, 63, 0.1));
        @include border-radius(4px);

        .dx-popup-content{
            padding: 10px;
        }
    }
}
.app-c-colorbox{
    &.dx-colorbox{
        width: 20px;
        height: 20px;
        border: none;
        overflow: hidden;

        .dx-colorbox-input-container{
            .dx-texteditor-container{
                position: relative;

                .dx-texteditor-input-container{
                    .dx-colorbox-input{
                        display: none;
                    }
                    .dx-colorbox-color-result-preview{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        margin: 0;
                        border: 1px solid $dx-colorbox-result-border;
                        // border: 1px solid darken(desaturate($app-brand-primary, 61.10), 7.25%);


                        @include border-radius(50%);
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        
                        &:before{
                            content: "\e947";
                            font-family: $font-port-client;
                            color: $white;
                            font-size: 10px;
                        }
                    }
                }

                .dx-texteditor-buttons-container{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 11;
                }
            }
        }
    }
}