.app-c-file-upload{
    @include flexbox();

    @media screen and (max-width: 480px){
        display: block;
    }

    .app-l-file-upload__btn{
        line-height: normal;

        @include flex-shrink(0);

        label{
            display: block;
            overflow: hidden;
            position: relative;

            input{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
            }

            &.mb-4 {
                margin-bottom: 4px;
            }
        }
    }
    .app-l-file__list{
        padding: 0 0 0 8px;
        line-height: normal;
        width: 100%;

        @include flexbox();
        @include flex-wrap(wrap);

        @media screen and (max-width: 480px){
            padding-left: 0;
            padding-top: 8px;
        }
        .app-c-chips{
            margin: 0 5px 5px 0;
        }
    }
}

.app-l-onboard-form-group {

    &.generic-field {
        .form-control-wrap {
            overflow: visible;

            .form-control {
                height: 30px; 
                padding: 6px 32px 6px 10px;
            }
        }
    }

    .form-control-wrap {
        .form-control {
            &.ng-dirty {
                &.ng-invalid {
                    border-color: $form-error;
                    background: $form-error-background;
    
                    @include boxShadow(
                        0 0.3px 0.9px rgba(221, 0, 0, 0.024),
                        0 0.9px 2.4px rgba(221, 0, 0, 0.035),
                        0 2.1px 5.7px rgba(221, 0, 0, 0.046),
                        0 7px 19px rgba(221, 0, 0, 0.07)                      
                    );
    
                    ~ .app-l-validation-wrap {
                        display: block;
                        opacity: 0;
                        visibility: hidden;
    
                        @include transition(opacity 0.3s ease, visibility 0.3s ease);
                    }
    
                    &:hover {
                        ~ .app-l-validation-wrap {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .app-l-validation-wrap {
            top: -22px;
        }
    }
}

.app-l-upload-drag-drop {
    max-width: 100%;

    .app-l-drag-drop-widget {
        min-width: 150px;

        .ngx-file-drop__drop-zone {
            border-color: $app-l-drag-drop-border;
            height: 70px;
            position: relative;
            background-color: transparent;

            @include border-radius(3px);
            @include transition(color ease 0.2s, background-color ease 0.2s, border-color 0.3s ease-in-out);

            &:before,
            &:after {
              content: '';
              position: absolute;
              border: 2px solid transparent;
              width: 0;
              height: 0;
              z-index: 1;
            }

            &::before {
                top: -2px;
                left: -2px;
            }

            &::after {
                bottom: -2px;
                right: -2px;
            }

            &:hover {
                color: $app-l-drag-drop-border;
                border-color: transparent;

                &:before {
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    border-top-color: $app-l-drag-drop-border;
                    border-right-color: $app-l-drag-drop-border;
                    
                    @include transition(width 0.25s ease-out, height 0.25s ease-out 0.25s);
                }
                &:after {
                    height: calc(100% + 4px);
                    width: calc(100% + 4px);
                    border-bottom-color: $app-l-drag-drop-border;
                    border-left-color: $app-l-drag-drop-border;

                    @include transition(
                        border-color 0s ease-out 0.5s,
                        width 0.25s ease-out 0.5s,
                        height 0.25s ease-out 0.75s
                    );
                }
            }

            &.ngx-file-drop__drop-zone--over {
                background-color: $app-l-drag-drop-hover-bg;

                .ngx-file-drop__content {
                    color: $white;

                    .app-l-drag-drop-click {
                        color: $white;
                    }
                }
            }

            .ngx-file-drop__content {
                height: 70px;
                color: $app-brand-primary;
                font-size: 14px;
                font-weight: 500;
                line-height: normal;
                background-color: transparent;
                position: relative;
                z-index: 2;
                
                @include transition(color ease 0.2s);
                
                .app-l-drag-drop-click {
                    font-weight: 500;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color: $app-brand-primary;
                    font-size: 14px;
                    line-height: normal;
                    text-decoration: underline;
                    
                    @include transition(color ease 0.2s);
                    
                    &:hover {
                        text-decoration: none;
                        color: $black;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        &.upload-disabled {
            .ngx-file-drop__drop-zone {
                &:hover {
                    border-color: $app-brand-primary-disable;
                    cursor: not-allowed;
                }

                &:before,
                &:after {
                    display: none;
                }

                .ngx-file-drop__content {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}