@import "../core/mixins/flexbox";
@import "../core/mixins/transitions";
@import "../core/mixins/border-radius";
@import "../core/mixins/transform";

.app-c-radio-button {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;

    &.app-c-radio-button--inline {
        display: inline-block;
        &+* {
            margin-left: 13px;
            .rtl &,
            [dir="rtl"] & {
                margin-right: 10px;
            }
        }
    }
    &.disabled {
        >label {
            cursor: default;
        }
    }

    > label{
        position: relative;
        margin: 0;
        cursor: pointer;

        @include flexbox();
        @include align-items(center);

        .app-c-radio-button-icon {
            width: $radio-size;
            height: $radio-size;
            border: 1px solid $app-radio-border;
            background: $app-radio-bg;
            overflow: hidden;
            padding-top: 1px;
    
            @include border-radius(50%);
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            @include flex-shrink(0);
            @include align-self(flex-start);
            @include transition(background ease 0.2s, border ease 0.2s, box-shadow ease 0.2s);
    
            &::after {
                content: "\e90f";
                font-family: $font-port-client;
                font-size: 10px;
                color: $white; 
                display: block;
                
                opacity: 0;
                filter: alpha(opacity=0);
    
                @include border-radius(50%);
                @include transition(transform ease 0.2s, opacity ease 0.2s);
            }
        }

        .app-c-radio-button-text{
            padding-left: 6px;
            color: $text-dark-extra;
            font-size: $text-md;
            font-weight: 400;
            line-height: 14px;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            opacity: 0;

            
            &[type="radio"]:checked{
                + .app-c-radio-button-icon {
                    border-color: $app-brand-primary-dark;
                    background: $app-brand-primary;
                    
                    &::after {
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                }
                &[disabled] {
                    + .app-c-radio-button-icon {
                        border-color: $app-brand-primary-dark;
                        background: $app-brand-primary;
                        opacity: 0.5;
                    }
                }
            } 
            &[type="radio"]:focus{
                + .app-c-radio-button-icon{
                    @include boxShadow(0px 0px 0px 5px rgba(112, 12, 22, 0.15));
                }
            }
            &[disabled] + .app-c-radio-button-icon {
                background: $app-radio-border-disable;
                cursor: not-allowed;
                border-color: transparent;
            }
        }
    }
}

.app-c-radio-button__horizontal-list {
    .app-c-radio-button {
        display: inline-block;
        &+* {
            margin-left: 10px;
        }
        label {
            @media only screen and (max-width: 1024px) and (min-width: 768px) {
                max-width: 100%;
                white-space: initial;
                overflow: initial;
                text-overflow: initial;
            }
        }
    }
}
