
// Roboto


$fontpath : 'assets/fonts/text-fonts/heebo';



@font-face {
    font-family: 'Heebo';
    src: url('#{$fontpath}/heebo-black-webfont.woff2') format('woff2'),
         url('#{$fontpath}/heebo-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Heebo';
    src: url('#{$fontpath}/heebo-bold-webfont.woff2') format('woff2'),
         url('#{$fontpath}/heebo-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Heebo';
    src: url('#{$fontpath}/heebo-extrabold-webfont.woff2') format('woff2'),
         url('#{$fontpath}/heebo-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Heebo';
    src: url('#{$fontpath}/heebo-light-webfont.woff2') format('woff2'),
         url('#{$fontpath}/heebo-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Heebo';
    src: url('#{$fontpath}/heebo-medium-webfont.woff2') format('woff2'),
         url('#{$fontpath}/heebo-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Heebo';
    src: url('#{$fontpath}/heebo-regular-webfont.woff2') format('woff2'),
         url('#{$fontpath}/heebo-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Heebo';
    src: url('#{$fontpath}/heebo-thin-webfont.woff2') format('woff2'),
         url('#{$fontpath}/heebo-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

    




