<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>
<body>
  <main>

    <div class="container app-l-main-wrap">
      <section class="app-l-new-item-entry">
        <form action="" id="itemEntryForm">
          <input class="app-l-color-picker mr-2" [(colorPicker)]="defaultColor" [style.background]="defaultColor"/>
          <label for="newItem">
            Enter a new item
          </label>
          <input class="form-control" id="newItem" type="text" size="100" autocomplete="off" placeholder="Add item" tabindex="0"/>
          <button id="addItem" class="app-c-btn app-c-btn--icon app-c-btn--icon-border" title="Add new item" aria-label="Add new item to list" tabindex="0">
            <i class="icon-plus"></i>
          </button>
        </form>
      </section>
  
      <section class="app-l-list-container">
        <div class="app-l-list-title">
          <h1>Todo list</h1>
          <button id="clearItems" class="app-c-btn app-c-btn--secondary" title="Clear list" aria-label="Remove all list items." tabindex="0">
            Clear
          </button>
        </div>

        <hr />

        <div id="listItems" class="app-l-list">
          <div class="app-l-list-item">
            <div class="app-c-checkbox">
              <label>
                  <input type="checkbox" id="1" tabindex="0">
                  <span class="app-c-checkbox-icon"></span>
                  <span class="app-c-checkbox-label">First</span>
              </label>
            </div>
          </div>
          <div class="app-l-list-item">
            <div class="app-c-checkbox">
              <label>
                  <input type="checkbox" id="1" tabindex="0">
                  <span class="app-c-checkbox-icon"></span>
                  <span class="app-c-checkbox-label">First</span>
              </label>
            </div>
          </div>
        </div>
      </section>
    </div>

  </main>
</body>
</html>