@import "../core/mixins/transitions";
@import "../core/mixins/flexbox";
@import "../core/mixins/box-shadow";
@import "../core/mixins/border-radius";
@import "../core/mixins/border-radius";
@import "../core/mixins/transform";

.app-l-sidebar-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &.app-l-sidebar--closed {
        width: 70px;

        @media screen and (max-width: 767px) {
            width: 58px;
        }
    }
}

.app-l-sidebar-remainder {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    width: calc(100%);
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.05);
    z-index: 10;
    backdrop-filter: blur(1.5px);

    &.app-l-sidebar--closed {
        display: none;
    }
}

.logo-initials-formatter {
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 600;
    border: solid 1px $login-logo-seperator;
    padding: 4px 2px 2px 2px;
    color: $text-dark-medium;
    cursor: pointer;

    @include border-radius(50%);
    @include transition(color 0.3s ease-in-out);
}

.app-l-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background: $app-brand-primary;
    z-index: 11;

    @include boxShadow( inset -2px 0px 4px $app-brand-primary);
    @include transition(border ease 0.2s, box-shadow ease 0.2s, width ease 0.2s);
    @include flexbox();
    @include flex-direction(column);

    @media screen and (max-width: 767px){
        width: 310px;
    }
    
    .app-l-logo {
        height: 46px;
        padding: 0px 10px 0px 14px;
        will-change: height;
        max-width: 100%;
        
        @include flex-shrink(0);
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-start);
        @include transition(padding ease 0.2s, height ease 0.2s);

        h1{
            cursor: pointer;
            margin: 0;
            line-height: normal;
            margin-right: 8px;
            max-width: 100%;

            @include inline-flex();
            @include align-items(center);
            @include justify-content(center);
            @include flex-shrink(0);

            a {
                margin: 0;
                line-height: normal;
                text-decoration: none;

                @include inline-flex();
                @include align-items(center);
                @include justify-content(center);
                @include flex-shrink(0);
            }
        }
        .app-l-logo__text{
            line-height: normal;
            color: $sidebar-logo-text-alpha50;
            font-size: 11px;
            font-weight: 500;
            text-transform: uppercase;
            max-width: 100%;
            display: block;

            @include truncate();
        }
    }

    .app-l-sidebar__brand{
        position: relative;

        @include flex-shrink(0);

        .app-l-sidebar__b-dropdown{
            background: rgba($black, 0.1);
            padding: 12px 14px 12px 14px;
            cursor: pointer;

            @include flexbox();
            @include align-items(center);

            @media screen and (max-width: 767px) {
                padding: 12px 9px 12px 9px;
            }

            .app-l-brand__logo{
                margin-right: 15px;
                width: 30px;
                height: 30px;
                background-color: $white;

                @include flex-shrink(0);
                @include border-radius(50%);
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);

                img {
                    display: block;
                    max-width: 20px;
                    width: 20px;
                    max-height: 20px;
                    height: 20px;
                }

                &.logo-initials {
                    @extend .logo-initials-formatter;
                }
            }
            .app-l-brand__name{
                font-size: 14px;
                color: $white;
                line-height: normal;
                padding-right: 10px;
            }
            .app-l-brand__toggle{
                margin-left: auto;
                font-size: 12px;
                color: rgba($white, 0.35);

                i{
                    display: block;

                    @include transition(transform ease 0.2s);
                }
            }
        }
        .dropdown-menu{
            width: 312px;
            max-height: 320px;
            margin-right: 0px;
            padding: 11px 0;
            border: none;

            @include border-radius(6px);
            @include boxShadow(0px 2px 7px rgba(182, 186, 197, 0.84));

            @media screen and (max-width: 767px){
                width: 282px;
            }

            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                // overflow-y: auto;

                li{
                    a{
                        cursor: pointer;
                        position: relative;
                        padding: 9px 21px 7px 12px;
                        background: none;
                        text-decoration: none;

                        @include flexbox();
                        @include align-items(center);

                        &:hover {
                            // background: $text-light-medium;
                            background: $companies-dropdown-selection-bg;

                            .app-l-brand-color-circle {
                                @include transform(scale(1.1));
                            }
                            
                            .app-l-brand__logo {
                                &.logo-initials {
                                    color: $app-brand-primary;
                                    border-color: $app-brand-primary;
                                }
                            }
                        }
                        &:focus {
                            background: $companies-dropdown-selection-bg;
                        }

                        &:after{
                            content: "\e90f";
                            font-family: $font-port-client;
                            width: 16px;
                            height: 16px;
                            background: $app-brand-primary;
                            display: block;
                            margin-left: auto;
                            font-size: 9px;
                            color: $white;
                            padding-top: 2px;
                            line-height: normal;

                            @include border-radius(50%);
                            @include flexbox();
                            @include align-items(center);
                            @include justify-content(center);
                            @include flex-shrink(0);
                            @include transition(opacity ease 0.2s, color eas 0.2s, transform ease 0.2s, visibility ease 0.2s);
                            @include transform(scale(0));
                        }
                        .app-l-brand-color-circle {
                            width: 9px;
                            height: 9px;
                            display: block;
                            line-height: normal;
                            font-size: 9px;
                            position: absolute;
                            left: 2px;
                            top: auto;
                            right: auto;
                            bottom: auto;
                            width: 4px;
                            height: 35px;

                            @include flex-shrink(0);
                            @include transition(transform 0.2s ease-in-out);
                            @include transform(scale(1));
                            @include transform-origin(left center);
                        }
                        .app-l-brand__logo{
                            width: 25px;
                            height: 25px;
                            margin-right: 15px;

                            @include flex-shrink(0);
                            @include inline-flex();
                            @include align-items(center);
                            @include justify-content(center);
                            @include transition(color ease 0.2s, border-color ease 0.2s);

                            > img {
                                width: 25px;
                                max-width: 25px;
                                height: 25px;
                                max-height: 25px;
                                display: block;
                                margin: auto;
                            }

                            &.logo-initials {
                                @extend .logo-initials-formatter;

                                font-size: 11px;
                                padding: 4px 2px 2px 2px;
                            }
                        }
                        .app-l-brand__name{
                            font-size: 14px;
                            color: $text-color;
                            line-height: normal;
                        }
                    }

                    &.app-l-brand__sdg{
                        a{
                            &:before{
                                background: $app-brand-primary;
                            }
                            .app-l-brand__name{
                                font-weight: 700;
                            }
                        }
                    }
                    &.app-l-brand__ezdan-group{
                        a{
                            &:before{
                                background: $theme1;
                            }
                        }
                    }
                    &.app-l-brand__msn{
                        a{
                            &:before{
                                background: $theme2;
                            }
                        }
                    }
                    &.app-l-brand__southern{
                        a{
                            &:before{
                                background: $theme3;
                            }
                        }
                    }
                    &.app-l-brand__dreams-soft{
                        a{
                            &:before{
                                background: $theme4;
                            }
                        }
                    }
                    &.selected{
                        a{
                            background: $companies-dropdown-selection-bg;

                            &:after{
                                @include transform(scale(1));
                            }

                            .app-l-brand__name {
                                color: $app-brand-primary;
                            }
                        }
                    }
                }
            }

            .mCustomScrollBox {
                .mCSB_container{
                    margin-right: 0;
                }
                .mCSB_scrollTools{
                    .mCSB_draggerContainer{
                        .mCSB_draggerRail{
                            background: transparent;
                        }
                        .mCSB_dragger{
                            .mCSB_dragger_bar{
                                background: rgba($black, 0.3);
    
                                @include border-radius(35px);
                            }
                        }
                    }
                }
            }

            .dx-scrollable {
                .dx-scrollable-wrapper {
                    .dx-scrollable-container {
                        max-height: 200px;
                    }
                }
            }
        }

        &.open{
            .app-l-sidebar__b-dropdown{
                .app-l-brand__toggle{
                    i{
                        @include transform(rotate(180deg));
                    }
                }
            }
        }
    }

    .app-l-sidebar__nav{
        padding-top: 8px;
        max-height: 100%;   
        min-height: 0;
        // overflow: auto;

        .app-l-nav__block{
            a{
                padding: 10px 16px 10px 14px;
                cursor: pointer;
                text-decoration: none;

                @include flexbox();
                @include align-items(center);
                @include transition(color ease 0.2s, background ease 0.2s, padding ease 0.2s);

                &:hover, &:focus {
                    background: rgba($black, 0.04);

                    .app-l-nav__icon {
                        color: rgba($white, 1);
                    }
                    .app-l-nav__text {
                        span {
                            color: $white;
                        }
                    }
                }
                &.selected {
                    .app-l-nav__icon{
                        background: rgba($black, 0.1);
                        color: $white;
                    }
                }

                .app-l-nav__icon{
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                    color: rgba($white, 0.85);
                    padding-top: 10px;

                    @include flexbox();
                    @include align-items(flex-start);
                    @include justify-content(center);
                    @include flex-shrink(0);
                    @include transition(background ease 0.2s, width ease 0.2s, height ease 0.2s, padding ease 0.2s);
                    @include border-radius(12px);

                    i {
                        @include transition(color ease 0.2s);
                    }
                }
                .app-l-nav__text{
                    margin-left: 4px;

                    span{
                        color: rgba($white, 0.7);
                        font-size: 15px;
                        line-height: normal;

                        @include transition(color ease 0.2s);
                    }
                }
                .app-l-nav__toggle{
                    margin-left: auto;
                    color: rgba($white, 0.7);
                    font-size: 12px;

                    @include flex-shrink(0);

                    i{
                        display: block;

                        @include transition(transform ease 0.2s, color ease 0.2s);
                    }
                }
            }
        }

        .app-l-nav__accordion{
            .panel-group{
                .panel {
                    background: none;
                    border: none;

                    @include border-radius(0);

                    .panel-heading{
                        padding: 0;
                        border: none;
                        background: none;

                        @include border-radius(0);
                    }

                    &.panel-open{
                        .panel-heading{
                            .panel-title{
                                .accordion-toggle{
                                    .app-l-nav__block{
                                        .app-l-nav__text{
                                            span{
                                                color: $white;
                                            }
                                        }
                                        .app-l-nav__icon{
                                            background: rgba(#000000, 0.1);
                                            color: $white;
                                        }
                                        .app-l-nav__toggle{
                                            i{
                                                @include transform(rotate(180deg));
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .panel-default{
                            background: rgba($black, 0.04);
                        }
                    }
                }
                .panel-body{
                    padding: 0;
                }
            }

            .app-l-nav__list{
                padding: 0px 8px 0px 46px;

                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li{
                        a, button {
                            color: rgba($white, 0.8);
                            font-size: 15px;
                            cursor: pointer;
                            text-decoration: dotted;
                            padding: 8px 12px;
                            max-width: 100%;
                            display: block;
                            background-color: transparent;
                            border: solid 1px transparent;
                            outline: none;
                            width: 100%;
                            text-align: left;
                            white-space: nowrap;
                            overflow: hidden;
                            opacity: 0;
                            
                            @include transition(color ease 0.3s, height ease 0.3s, opacity ease 0.3s);
                            @include border-radius(6px);
                            
                            &:hover, &:focus{
                                color: $white;
                                background-color: $app-brand-primary;
                            }

                            &.open {
                                white-space: normal;
                                overflow: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .dx-accordion {
                background-color: transparent;

                .dx-accordion-wrapper {
                    .dx-accordion-item {
                        border: none;

                        &.dx-state-focused {
                            border-color: transparent;
                        }

                        &.dx-state-hover {
                            .dx-accordion-item-title {
                                &:before {
                                    color: $white;
                                }
                            }
                        }

                        &.dx-accordion-item-opened {
                            background: rgba($black, 0.04);

                            .dx-accordion-item-title {
                                &:before {
                                    color: $white;

                                    @include transform(rotateZ(180deg));
                                }

                                .app-l-nav__block {
                                    > a {
                                        .app-l-nav__icon {
                                            color: $white;
                                            opacity: 1;
                                        }

                                        .app-l-nav__text {
                                            > span {
                                                color: $white;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .dx-accordion-item-title {
                            padding: 0;
                            border: none;
                            background: none;
                            position: relative;
    
                            @include border-radius(0);

                            &:before {
                                content: "\e907";
                                font-family: 'port-client' !important;;
                                color: rgba($white, 0.7);
                                font-size: 12px;
                                line-height: normal;
                                height: 60px;
                                width: 13px;
                                background-color: transparent;
                                margin-left: 0;
                                opacity: 1;
                                filter: alpha(opacity=100);
                                padding-top: 2px;

                                position: absolute;
                                top: 0;
                                right: 14px;
                                bottom: auto;
                                left: auto;

                                @include flexbox();
                                @include align-items(center);
                                @include justify-content(flex-start);
                                @include transition(transform ease 0.2s, color ease 0.2s, opacity 0.3s ease-in-out);
                                @include transform(rotateZ(0deg));
                            }
                        }

                        .dx-accordion-item-body {

                        }
                    }
                }
            }
        }

        .mCustomScrollBox {
            .mCSB_container{
                margin-right: 0;
            }
            .mCSB_scrollTools{
                .mCSB_draggerContainer{
                    .mCSB_draggerRail{
                        background: transparent;
                    }
                    .mCSB_dragger{
                        .mCSB_dragger_bar{
                            background: rgba($white, 0.3);

                            @include border-radius(35px);
                        }
                    }
                }
            }
        }

        .dx-scrollable {
            .dx-scrollable-wrapper {
                .dx-scrollable-container {
                    max-height: 100%;
                }
            }
        }
    }

    .app-l-sidebar__body{
        height: 100%;
        min-height: 0;

        @include flexbox();
        @include flex-direction(column);
    }

    .app-l-user__block{
        margin-top: auto;

        @include flex-shrink(0);

        .app-l-user-help-options {
            width: 100%;
            padding: 0 0 0 18px;

            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(flex-start);
            @include transition(padding 0.2s ease);

            .app-l-side-menu-option {
                
                + .app-l-side-menu-option {
                    margin-top: 8px;
                }

                cursor: pointer;
                width: 100%;

                @include flexbox();
                @include justify-content(flex-start);
                @include align-items(center);

                &:hover {
                    .app-l-side-menu-icon {
                        background-color: $app-brand-primary-light;

                        i {
                            color: $white;
                        }
                    }
                    .app-l-side-menu-text {
                        color: $sidebar-logo-text;
                    }
                }

                .app-l-side-menu-icon {
                    padding: 8px;
                    border: solid 1px transparent;
                    cursor: pointer;
                    position: relative;
    
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    @include border-radius(50%);
                    @include transition(border-color 0.3s ease-in-out, background-color 0.3s ease);
                    
                    i {
                        font-size: 16px;
                        color: rgba($white, 0.7);
                        margin: auto;

                        @include transition(color 0.3s ease-in-out);
                    }

                    &.open {
                        background-color: $app-brand-primary-light;

                        i {
                            color: $white;
                        }
                    }

                    .app-l-side-menu-btn {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        padding: 0;
                        padding: 8px;

                        @include inline-flex();
                        @include justify-content(center);
                        @include align-items(center);
                        @include border-radius(50%);
                        @include flex-shrink(0)
                    }

                    .app-l-side-menu-count {
                        position: absolute;
                        bottom: auto;
                        right: -7px;
                        top: -4px;
                        left: auto;

                        width: 22px;
                        height: 22px;
                        text-decoration: none;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: normal;
                        color: $white;
                        background-color: $validation-red;
                        border: solid 1px transparent;
    
                        @include border-radius(50%);
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        @include flex-shrink(0);
                        @include transition(box-shadow 0.2s ease);
                        @include boxShadow(0px 0px 0px 2px $app-brand-primary);
                    }
                }

                .app-l-side-menu-text {
                    color: $sidebar-logo-text-alpha50;
                    margin-left: 8px;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    width: 100%;
                    padding: 4px 4px 4px;
                    min-height: 34px;

                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(flex-start);
                }
            }
        }

        .app-l-user__area{
            max-width: 100%;
            position: relative;
            width: 100%;
            min-width: 0;
            background: none;
            padding: 0;
            border: none;
            outline: none;
            
            @include flexbox();
            @include align-items(center);
            @include justify-content(flex-start);
            
            &:hover, &:focus {
                outline: none;

                .app-l-user__avatar {
                    @include boxShadow(
                        0 0 1px 1px #fff, 
                        0 0 1px 3px rgba(255, 255, 255, 0.5), 
                        0 0 1px 6px rgba(255, 255, 255, 0.2), 
                        0 0 1px 8px rgba(255, 255, 255, 0.1)
                    );
                }
                .app-l-user__name {
                    color: $white;
                }
            }

            &.open {
                .app-l-user__avatar {
                    @include boxShadow(0 0 0 1px $white);
                }
                .app-l-user__name {
                    color: $white;
                }
            }

            .app-c-avatar-wrap {
                width: 42px;
                height: 42px;
                min-height: 0;
                min-width: 0;
                position: relative;
                padding: 0;
                background: none;
                border: none;
                outline: none;
                z-index: 0;

                @include border-radius(50%);
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                @include flex-shrink(0);
                @include transition(box-shadow 0.2s ease);

                .app-c-notification-count {
                    z-index: 2;
                    position: absolute;
                    bottom: -7px;
                    right: -5px;
                    top: auto;
                    left: auto;
                    min-width: 22px;
                    height: 22px;
                    text-decoration: none;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: normal;
                    color: $white;
                    background-color: $validation-red;
                    border: solid 1px transparent;

                    @include border-radius(50%);
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    @include flex-shrink(0);
                    @include transition(box-shadow 0.2s ease);
                    @include boxShadow(0px 0px 1px 1px rgb(138 151 186));
                }
            }

            .app-l-user__avatar{
                width: 42px;
                height: 42px;
                border: 1px solid #8A97BA;
                overflow: hidden;
                min-width: 0;
                background: rgba(255, 255, 255, 0.8);

                @include border-radius(50%);
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                @include flex-shrink(0);
                @include transition(box-shadow 0.2s ease, background 0.2s ease);

                img{
                    max-height: 100%;
                    max-width: 100%;
                    margin: auto;
                }
            }

            .app-l-user__name{
                max-width: 100%;
                min-width: 0;
                font-size: 14px;
                font-weight: 400;
                color: rgba($white, 0.8);
                margin-left: 12px;

                @include truncate();
                @include transition(color 0.2s ease);
            }

            .app-l-user-options {
                padding: 8px 12px 16px 15px;
                position: relative;
                max-width: 100%;
                cursor: pointer;
                background: none;
                border: none;
                outline: none;

                @include flexbox();
                @include align-items(center);
                @include justify-content(flex-start);
            }
        }
    }

    .app-l-sidebar__switch{
        position: absolute;
        top: 49px;
        right: -10px;
        width: 24px;
        height: 24px;
        border: 1px solid #DFE5F2;
        padding: 0;
        outline: none;
        font-size: 11px;
        color: #8A97BA;
        
        @include boxShadow(0px 3px 6px rgba(138, 151, 186, 0.2));
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include border-radius(50%);
        
        display: none;
        
        i{
            display: block;

            @include transition(transform ease 0.2s);
        }
    }

    &.app-l-sidebar--close{
        width: 70px;

        @media screen and (max-width: 767px){
            width: 58px;
        }

        .app-l-logo {
            @include align-items(center);
            @include justify-content(center);

            padding: 0px 10px 0 10px;
            height: 46px;

            h1 {
                margin-right: 0;
            }

            span{
                display: none;
            }
        }
        .app-l-sidebar__brand {
            .app-l-sidebar__b-dropdown{
                padding: 12px 7px 12px 7px;

                @include justify-content(center);

                .app-l-brand__logo {
                    margin-right: 4px;
                    letter-spacing: 0.5px;
                }
                .app-l-brand__name{
                    display: none;
                }
                .app-l-brand__toggle{
                    margin-left: 2px;
                    
                    @media screen and (max-width: 767px){
                        display: none;
                    } 
                }
            }
           .dropdown-menu{
                margin-right: -267px;

                @media screen and (max-width: 380px){
                    margin-right: -228px;
                }
           }
        }
        .app-l-sidebar__nav{ 
            .app-l-nav__block{ 
                a {
                    padding: 0;
                    text-decoration: none;
                    cursor: pointer;

                    @include justify-content(center);

                    .app-l-nav__text, .app-l-nav__toggle{
                        display: none;
                    }

                    .app-l-nav__icon {
                        width: 70px;
                        height: 60px;
                        padding-top: 20px;

                        @media screen and (max-width: 767px){
                            width: 58px;
                        }
                    }
                }
            }
            .app-l-nav__accordion{
                .panel-group{
                    .panel {
                        &.panel-open{
                            .panel{
                                .panel-collapse{
                                    display: none !important;
                                }
                            }
                        }
                    }
                }

                .dx-accordion {
                    background-color: transparent;
                    
                    .dx-accordion-wrapper {
                        .dx-accordion-item {
                            border-top: none;

                            .dx-accordion-item-title {
                                &:before {
                                    display: none;
                                    opacity: 0;
                                    filter: alpha(opacity=0);  
                                    visibility: hidden;
                                }
                            }

                            .dx-accordion-item-body {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .app-l-user__block{
            .app-l-user-help-options {
                padding: 0 0 0 18px;

                @media screen and (max-width: 767px) {
                    padding: 0 0 0 12px;
                }

                .app-l-side-menu-option {
                    .app-l-side-menu-icon {

                    }

                    .app-l-side-menu-text {
                        display: none;
                    }
                }
            }
            .app-l-user__area{

                @include justify-content(center);

                @media screen and (max-width: 767px){
                    padding-left: 0;
                    padding-right: 0;

                    @include justify-content(center);
                }

                .app-l-user__name{
                    display: none;
                }
                .app-l-user__avatar{
                    @media screen and (max-width: 767px){
                        width: 32px;
                        height: 32px;
                    }
                }
                .app-l-user-options {
                    padding: 8px 12px 16px 12px;

                    @media screen and (max-width: 767px) {
                        padding: 8px 1px 16px 1px;
                    }
                }
            }
        }

        .app-l-sidebar__switch{
            i{
                @include transform(rotate(180deg));
            }
        }
    }
}

.app-l-user-option-menu {
    padding: 8px 0px;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    background-color: $white;
    border: solid 1px $popover-border;

    @include flexbox();
    @include flex-direction(column);
    @include border-radius(10px);
    @include boxShadow(0px 1px 4px rgba(17, 25, 45, 0.1));
    @include transform(translateY(0) !important);

    .app-l-user-menu-option {
        width: 100%;
        padding: 4px 16px;
        background-color: transparent;
        list-style: none;
        cursor: pointer;

        @include transition(background-color 0.3s ease);
        @include flex-shrink(0);

        &:hover {
            background-color: $list-option-hover-bg;
            
            > .app-l-menu-option-text {
                color: $list-option-hover-text;
            }
        }

        > .app-l-menu-option-text {
            color: $text-dark-extra;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-decoration: none;
        }
    }
}

.app-l-quick-menu {
    border: none;
    margin-left: -4px;

    .popover-arrow {
    }

    .popover-body {
        padding: 0;
        min-width: 100px;
        max-width: 150px;
        overflow: hidden;

        @include boxShadow(0px 3px 6px #E3E3E3);
        @include border-radius(6px);
    }

    .app-l-grid-options-dropdown {

        @include border-radius(0px);
        @include boxShadow(0px 0px 0px 0px transparent);

        > li {
            padding: 0;

            h4 {
                font-weight: 500;
            }

            &.selected {
                h4 {
                    color: $select-dropdown-item-text;
                }
                background-color: $select-dropdown-item-bg;
                
                a {
                    color: $select-dropdown-item-text;
                }
            }

            > a {
                padding: 8px 16px;
                text-decoration: none;
                display: block;
                width: 100%;
            }
        }
    }

    .dx-overlay-content {
       
        .dx-popover-arrow {
        }
        .dx-popup-content {
            padding: 0;
            min-width: 100px;
            max-width: 100%;
            overflow: hidden;
    
            @include boxShadow(0px 3px 6px #E3E3E3);
            @include border-radius(6px);
        }
        .dx-scrollable {
            .dx-scrollable-wrapper {
                .dx-scrollable-container {
                    .dx-scrollable-content {
                        padding-right: 0;

                        .dx-scrollview-content {
                            max-height: 400px;
                            height: 100%;
                            
                            @media screen and (max-height: 767px) {
                                max-height: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}