@import "../core/mixins/custom-scrollbar";

// .app-l-filter-grid {
    .app-c-grid {
        .dx-widget {
            .dx-datagrid{
    
                .dx-datagrid-header-panel {
                    .dx-toolbar {
                        margin-bottom: 8px;

                        .dx-toolbar-items-container {
                            padding: 8px 16px 0 8px;

                            @include flexbox();
                            @include align-items(center);
                            @include justify-content(flex-end);
    
                            .dx-toolbar-after {
                                position: relative;

                                .dx-toolbar-item {
                                    .dx-item-content {
                                        .dx-datagrid-toolbar-button {
                                            &.dx-datagrid-column-chooser-button {
                                                border: 1px solid transparent;
                                                
                                                .dx-button-content {
    
                                                    text-align: center;
                                                    vertical-align: middle;
                                                    touch-action: manipulation;
                                                    cursor: pointer;
                                                    white-space: nowrap;
                                                    font-weight: 500;
                                                    line-height: 16px;
                                                    outline: none;
                                                    font-family: $body-font;
                                                    width: 30px;
                                                    height: 30px;
                                                    background: $white;
                                                    border: $generic-border-color 1px solid;
                                                    color: $text-color-light;
                                                    padding: 0;
                                                    font-size: 16px;
                                                    outline: none;
                                                    
                                                    @include transition(background ease 0.3s, color ease 0.3s, border ease 0.3s, box-shadow ease 0.3s);
                                                    @include border-radius(3px);
                                                    @include inline-flex();
                                                    @include align-items(center);
                                                    @include justify-content(center);
                                                    
                                                    &:hover{
                                                        outline: none;
                                                        border-color: $app-brand-primary;
                                                        background: $app-brand-primary;
                                                        color: $white;
                                                    }
                                                    &:focus, &:active{
                                                        outline: none;
                                                        border-color: $app-brand-primary;
                                                        background: $app-brand-primary;
                                                        color: $white;
                                                    }
    
                                                    .dx-icon {
    
                                                        &.dx-icon-column-chooser {
                                                            &:before {
                                                                font-family: 'port-client' !important;;
                                                                content: "\e920";
                                                            }
                                                        }
                                                    }
                                                }

                                                &.dx-state-hover {
                                                    .dx-button-content {
                                                        border-color: $app-brand-primary;
                                                        background: $app-brand-primary;
                                                        color: $white;
                                                        
                                                        .dx-icon {
                                                            color: $white;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
// }



.app-l-default-filter-modal {
    + .app-l-filter-builder-modal-wrap {
        .app-l-filter-builder-modal {
            &.show {
                width: 100vw;
                height: 100vh;
                background-color:rgba( #000000, 0.7);
            }
        }       
    }
}

.app-l-flex-column-setter {
    min-height: 0;

    @include flexbox();
    @include flex-direction(column);
    @include flex-grow(0);
    @include flex-shrink(0);
}

// Custom Scrollbar
@include scrollbars(7px, $dark-grey);

.dx-checkbox {
    &.dx-checkbox-checked {
        .dx-checkbox-icon {
            color: $white;
            background-color: $active-checkbox-bg;
            border-color: $field-focus-border;

            &:before {
                font-size: 11px;
            }
        }
    }
    .dx-checkbox-container {
        .dx-checkbox-icon {
            width: 16px;
            height: 16px;
            border-color: $generic-dropdown-border;
            
            &.dx-checkbox-indeterminate {
                color: $app-brand-primary;
            }
        }
    }
}

.dx-checkbox-indeterminate {
    .dx-checkbox-icon {
        color: $active-checkbox-bg;
    }
}

.dx-texteditor {
    &.dx-editor-outlined {
        border-color: $generic-dropdown-border;
        @include border-radius(3px);
        
        &.dx-state-focused {
            border-color: $field-focus-border;
        }
    }
}


// Column Chooser

.dx-datagrid-column-chooser {
    .dx-popup-normal {
        background-color: $column-chooser-bg;
        border-color: $generic-dropdown-border;
        
        @include border-radius(4px);
        @include boxShadow(0px 3px 6px #E3E3E3);
        
        &.dx-state-focused {
            border: solid 1px $generic-dropdown-border;
        }

        .dx-popup-title {
            padding: 16px 8px 8px 8px;
            background-color: $white;

            .dx-toolbar-items-container {
                height: 22px;
                
                .dx-toolbar-before {
                    .dx-toolbar-label {
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
        .dx-datagrid-column-chooser-list {
            padding: 0px;

            .dx-searchbox {
                background-color: $white;
                border: none;
                padding: 0 8px 8px 8px;
                margin-bottom: 0;
                height: 38px;

                &.dx-editor-outlined {                  
                    &.dx-state-focused {
                        .dx-texteditor-container {
                            border-color: $field-focus-border;
                        }
                    }
                }

                .dx-texteditor-container {
                    border: solid 1px $generic-dropdown-border;
                    height: 30px;
                    
                    @include border-radius(3px);

                    .dx-texteditor-input-container {
                        height: 28px;

                        .dx-icon-search {
                            top: 0;
                            margin-top: 0px;
                            width: 34px;
                            height: 28px;
                            padding: 4px 8px;

                            @include inline-flex();
                            @include align-items(center);
                            @include justify-content(center);

                            &:before {
                                content: "\e93d";
                                font-family: 'port-client' !important;;
                                color: $text-dark-normal;
                                font-size: 16px;
                            }
                        }
                        .dx-texteditor-input {
                            min-height: 28px;
                            padding: 2px 8px 4px 30px;
                        }
                        .dx-placeholder {
                            &:before {
                                padding: 4px 8px 4px 30px;
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
            .dx-scrollable {
                padding: 0px;
                margin: 0px;

                .dx-scrollable-wrapper {
                    .dx-scrollable-content {
                        .dx-treeview-node-container {
                            padding: 8px;

                            .dx-treeview-node {
                                + .dx-treeview-node {
                                    margin-top: 8px;
                                }

                                @include border-radius(2px);
                                @include boxShadow(0px 1px 4px rgba(17, 25, 45, 0.1));
                                background-color: $white;

                                &:hover {
                                    .dx-item {
                                        background-color: $select-dropdown-item-bg;
                                        color: $select-dropdown-item-text;

                                        .dx-item-content {
                                            color: $select-dropdown-item-text;
                                        }
                                    }
                                }

                                .dx-item {
                                    margin-bottom: 0;
                                    color: $text-dark-medium;
                                    font-size: 12px;
                                    line-height: 18px;
                                    padding: 6px 30px 6px 8px;
                                    position: relative;

                                    &:hover {
                                        background-color: $select-dropdown-item-bg;
                                        color: $select-dropdown-item-text;
                                        
                                        &:before {
                                            color: $app-brand-primary-light;
                                        }
                                    }

                                    &:before {
                                        content: "\e940";
                                        font-family: 'port-client' !important;;
                                        color: $text-light-medium;
                                        font-size: 16px;
                                        cursor: grab;
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        width: 30px;
                                        height: 100%;

                                        @include inline-flex();
                                        @include align-items(center);
                                        @include justify-content(center);
                                        @include transition(color 0.3s ease-in-out);

                                        &:hover {
                                            color: $app-brand-primary;
                                        }
                                    }

                                    .dx-item-content {
                                        color: $text-dark-medium;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.dx-datagrid-drag-header {
    outline: $app-brand-primary-light;
    border-color: $app-brand-primary-light;
    cursor: grabbing;
}

// Common Devextreme Selectbox 

.dx-selectbox-popup-wrapper {
    .dx-overlay-content {
        border-color: $generic-dropdown-border;

        @include boxShadow(0px 3px 6px #E3E3E3);
        @include border-radius(4px);

        .dx-popup-content {
            .dx-scrollable {
                .dx-scrollable-wrapper {
                    .dx-scrollable-container {
                        .dx-scrollable-content {
                            .dx-scrollview-content {
                                .dx-item {
                                    + .dx-item {
                                        border-top: solid 1px $select-dropdown-item-border;
                                    }

                                    .dx-item-content {
                                        padding: 4px 12px;
                                        font-size: 12px;
                                        line-height: 18px;
                                        max-width: 100%;
                                        white-space: normal;

                                        @include transition(color 0.3 ease, background-color 0.3 ease);
                                    }

                                    &.dx-list-item-selected {
                                        background-color: $select-dropdown-item-select-bg;
                                        color: $white;
                                        
                                        &.dx-state-hover, &.dx-state-active {
                                            color: $white;
                                            background-color: $select-dropdown-item-select-bg;
                                        }
                                    }
                                    
                                    &.dx-state-focused {
                                        background-color: $select-dropdown-item-bg;
                                        color: $select-dropdown-item-text;
                                        
                                        &.dx-state-hover, &.dx-state-active {
                                            color: $select-dropdown-item-text;
                                            background-color: $select-dropdown-item-bg;
                                        }
                                    }

                                    &.dx-state-hover {
                                        background-color: $select-dropdown-item-bg;
                                        color: $select-dropdown-item-text;
                                    }
                                    &.dx-state-active {
                                        color: $white;
                                        background-color: $select-dropdown-item-select-bg;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Advanced filter widget condition dropdown

.dx-filterbuilder-group-operations {
    .dx-overlay-content {
        border-color: $generic-dropdown-border;

        @include boxShadow(0px 3px 6px #E3E3E3);
        @include border-radius(3px);

        .dx-popup-content {
            .dx-widget {
                .dx-scrollable {
                    .dx-scrollable-wrapper {
                        .dx-scrollable-container {
                            .dx-scrollable-content {
                                .dx-treeview-node-container {
                                    .dx-treeview-node {
                                        .dx-item {
                                            line-height: normal;
                                            width: 100%;

                                            @include inline-flex();
                                            @include align-items(center);
                                            @include justify-content(flex-start);

                                            > span {
                                                font-size: 12px;
                                                line-height: 16px;
                                                color: $text-dark-extra;
                                                max-width: 100%;
                                                white-space: normal;
                                            }

                                            &.dx-state-hover {
                                                background-color: $select-dropdown-item-bg;

                                                .dx-item-content {
                                                    > span {
                                                        color: $select-dropdown-item-text;
                                                    }
                                                }
                                            }

                                            .dx-item-content {

                                            }
                                        }

                                        &.dx-state-selected, &.dx-state-focused {
                                            .dx-item {
                                                background-color: $select-dropdown-item-select-bg;
    
                                                .dx-item-content {
                                                    > .dx-icon {
                                                        color: $white;
                                                    }
                                                    > span {
                                                        color: $white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Advanced filter widget fields dropdown 

.dx-filterbuilder-fields {
    .dx-overlay-content {
        border-color: $generic-dropdown-border;

        @include boxShadow(0px 3px 6px #E3E3E3);
        @include border-radius(3px);

        .dx-popup-content {
            .dx-widget {
                .dx-scrollable {
                    .dx-scrollable-wrapper {
                        .dx-scrollable-container {
                            .dx-scrollable-content {
                                .dx-treeview-node-container {
                                    .dx-treeview-node {
                                        .dx-item {
                                            line-height: normal;
                                            width: 100%;

                                            @include inline-flex();
                                            @include align-items(center);
                                            @include justify-content(flex-start);

                                            > span {
                                                font-size: 12px;
                                                line-height: 16px;
                                                color: $text-dark-extra;
                                                max-width: 100%;
                                                white-space: normal;
                                            }

                                            &.dx-state-hover {
                                                background-color: $select-dropdown-item-bg;

                                                .dx-item-content {
                                                    > span {
                                                        color: $select-dropdown-item-text;
                                                    }
                                                }
                                            }

                                            .dx-item-content {

                                            }
                                        }

                                        &.dx-state-selected, &.dx-state-focused {
                                            .dx-item {
                                                background-color: $select-dropdown-item-select-bg;
    
                                                .dx-item-content {
                                                    > .dx-icon {
                                                        color: $white;
                                                    }
                                                    > span {
                                                        color: $white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.app-l-form-array-wrap {
    max-width: 100%;
    width: 100%;
    
    @include flexbox();
    @include align-items(flex-end);  

    @media screen and (max-width: 767px) {
        @include align-items(flex-start);
        @include flex-direction(column);
    }
    
    &.m-8 {
        margin: 8px;
    }

    .app-l-card-group-holder {
        @include flex-direction(column);
    }
    
    .app-l-form-array {
        max-width: 100%;
        width: 100%;
        padding-right: 8px;

        @include flexbox();
        @include align-items(flex-end);
        
        .app-l-form-array-field {
            max-width: 100%;
            min-width: 332px;
            width: 100%;
    
            @include flexbox();

            @media screen and (max-width: 576px) {
                @include flex-wrap(wrap);

                .form-group {
                    width: 100%;
                }
            }
        }
        .app-l-form-array-option {
            margin: 8px;

            @include flex-shrink(0);
        }
    }

    .app-l-form-array-control {
        margin: 0px 8px;

        @include flex-shrink(0);

        @media screen and (max-width: 767px) {
            margin: 16px auto 0 0;
        }
    }
}

// Work Order Class - User Defined Tab Grid customization.

.app-l-user-defined-data {
    padding-bottom: 0px;
    padding-top: 8px;

    .app-c-grid {

        .app-l-grid-holder {
            > .dx-widget {
                .dx-gridbase-container {
                    .dx-datagrid-rowsview {
                        .dx-datagrid-content {
                            .dx-datagrid-table {
                                .dx-row {
                                    td {
                                        height: 36px;
                                        vertical-align: middle;
                                        padding-top: 2px;
                                        padding-bottom: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .app-c-grid--footer {
            display: none;
        }
    }
}

.app-l-heading--h5 {
    color: $text-color;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 767px){
        font-size: 13px;
    }
}

.app-l-form-section-holder {
    width: 100%;

    @include flexbox();
    @include flex-direction(column);
    
    .app-l-form-section-header {
        width: 100%;
        padding: 8px 0px ;

        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-start);

        .app-l-heading--h4 {
            margin: 0;
        }
    }

    .app-l-form-section-content {
        width: 100%;

        @include flexbox();
        @include flex-direction(column);

        .app-l-heading--h5 {
            margin: 0;
            
            + .app-l-form-section-fields {
                margin-top: 8px;
            }
        }
        
        .app-l-form-section-fields {
            width: 100%;
            margin: -8px;
            
            + .app-l-heading--h5 {
                margin-top: 24px;
            }
            
            @include flexbox();
            @include flex-wrap(wrap);
            
            .form-group {
                margin: 8px;
            }
        }
    }
}

.app-l-color__sample{
    width: 18px;
    height: 18px;
    display: block;
    cursor: default;
    position: relative;

    @include border-radius(50%);
    @include transition(background ease 0.2s, box-shadow ease 0.2s);

    &:hover {
        @include boxShadow(0px 0px 0px 2px $gray);

        &:before {
            @include boxShadow(0px 0px 1px 2px white);
        }
    }

    &:before{
        content: '';
        width: 18px;
        height: 18px;
        border: 1px solid transparent;
        position: absolute;
        top: 0px;
        left: 0px;

        @include border-radius(50%);
        @include transition(background ease 0.2s, box-shadow ease 0.2s);
    }

    &.yellow{
        background: #B87A00; 
    }
    &.orange{
        background: #DB4D00;
    }
    &.blue{
        background: #2B5A9B; 
    }
    &.red{
        background: #92111E;
    }
    &.purple{
        background: #7F15A5; 
    }
    &.default {
        background: #700C16;
    }
    &.green{
        background: #00591D;
    }
    &.active{
        @include boxShadow(0px 0px 0px 3px $theme-selected-border);

        &:before{
            @include boxShadow(0px 0px 1px 2px white);
        }
    }
}

// Devextreme number field customization

.dx-numberbox {
    &.form-control {
        padding: 0;

        .dx-texteditor-container {
            .dx-texteditor-input-container {
                .dx-texteditor-input {
                    min-height: 28px;
                    padding: 6px 10px;
                    text-align: right;
                    font-family: 'Heebo';
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }

        &.dx-state-disabled {
            opacity: 1;
            border-color: $form-control-disable-border;
            background: $form-control-disable-background;
            cursor: not-allowed;
            
            .dx-texteditor-container {
                cursor: not-allowed;
            }
        }

        .dx-texteditor-input-container{
            position: relative;

            .dx-placeholder {
                right: 0;
                left: auto;
            }
        }
    }
}

.app-l-field-data {
    color: $text-color;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    text-align: left;
}

.app-l-badge-content {
    max-width: 100%;
    min-width: 0px;

    @include flexbox();
    @include align-items(center);
    
    .app-l-field-data {
        max-width: 100%;
        min-width: 0;

        @include truncate();
    }

    .badge {
        font-size: 11px;
        line-height: normal;
    }
}

.app-l-radio-group {
    width: 100%;

    .app-l-radio-wrap {
        margin: -8px;
        max-width: 100%;

        @include flexbox();
        @include flex-wrap(wrap);

        .app-l-radio-holder {
            margin: 8px;
            min-width: 150px;
            max-width: 100%;
        }
    }
}

.app-l-btn-cluster-wrap {
    max-width: 100%;
    margin: -4px;

    @include flexbox();

    @media screen and (max-width: 600px){
        margin-top: 8px;
        
        @include flex-wrap(wrap);
    }

    .app-l-btn-cluster {
        margin: 4px;
        max-width: 100%;

        .app-c-btn--icon {
            @include flex-shrink(0);
        }
        
        .form-group {
            min-width: 123px;
            
            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
    }
    
    .app-l-cluster-seperator {
        height: 100%;
        width: 1px;
        margin: 4px;
        background-color: $generic-border-color;
        min-height: 30px;
        
        @include flex-shrink(0);
        @include flexbox();
    }
}

.app-l-btn-cluster {

    @include flexbox();
    @include align-items(center);

    .app-c-btn--icon {
        + .form-group {
            margin-left: 8px;
        }
    }
}

.app-l-label-value {
    min-width: 0;

    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);

    .app-l-label-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 21px;
        margin: 0;
        color: $text-dark-extra;
        
        &.label-lg {
            font-size: 14px;
        }
        &.label-bold {
            font-weight: 500;
        }
    }

    .app-l-value-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        color: $text-dark-extra;
    }

    &.labor-fields {
        .app-l-label-text {
            + .app-l-value-text {
                margin-top: 0px;
            }
        }
    }

    &.app-l-header-labels {
        .app-l-label-text {
            + .app-l-value-text {
                margin: 2px 0px;
            }
        }
    }
}

.app-l-selections-wrap {
    min-width: 0;

    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);

    .app-l-heading--h5 {
        margin-bottom: 12px;
    }
}

.app-l-heading--h5{
    color: $text-color;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 15px;
    padding: 0;

    @media screen and (max-width: 767px){
        font-size: 13px;
    }
}
.app-l-step-data {
         .app-l-screen-header {
             display: none;
         }
         .app-l-screen-holder {
             form {
                 .app-c-card--grey {
                     background: #F8F8F8;
                 }
                 .app-c-card--default {
                     margin-bottom: 0px !important;
                     
                     @include boxShadow(0px 0px 0px 0px transparent);
                 }
                 .app-l-screen-contents {
                     padding: 0 !important;
                     
                     .app-l-steps-base {
                         .app-c-tab-group {
                             padding-bottom: 8px;
        
                             .tab-container {
                                 .nav {
                                     background: #F8F8F8 !important;
                                 }
                                 .nav-tabs {
                                     border-bottom-color: $neutrals-color3 !important;
                                 }
                                 .tab-content {
                                     background-color: #FCFCFC !important;
        
                                     @include border-radius(0px 0px 4px 4px);
                                     @include boxShadow(0px 3px 6px rgba(63, 63, 63, 0.1));
                                 }
                             }
                         }
                     }
                 }
             }
         }
}


.app-l-disable-form {
    > * {
        pointer-events: none !important;
    }
    
    .form-group {
        .dx-selectbox {
            border-color: $form-control-disable-border;
            background: $form-control-disable-background;
            opacity: 1;
        }

        .form-control {
            border-color: $form-control-disable-border;
            background: $form-control-disable-background;
            cursor: not-allowed;
        }
    }

    .app-c-btn {
        background: $app-brand-primary-disable;
        border-color: $app-brand-primary-disable;
        color: $text-dark-normal;
    }

    .app-c-checkbox {
        > label {
			cursor: default;
		}
		.app-c-checkbox-icon {
			background: $app-checkbox-border;
		}
    }

    
}

.dx-datebox-wrapper {
    .dx-overlay-content {
        border-color: $generic-dropdown-border;

        @include boxShadow(0px 3px 6px #E3E3E3);
        @include border-radius(3px);

        .dx-popup-content {
            .dx-scrollable {
                .dx-scrollable-wrapper {
                    .dx-scrollable-container {
                        .dx-scrollable-content {
                            .dx-scrollview-content {
                                .dx-item {
                                    + .dx-item {
                                        border-top: solid 1px $select-dropdown-item-border;
                                    }

                                    .dx-item-content {
                                        padding: 4px 12px;
                                        font-size: 12px;
                                        line-height: 18px;
                                        max-width: 100%;
                                        white-space: normal;

                                        @include transition(color 0.3 ease, background-color 0.3 ease);
                                    }

                                    &.dx-list-item-selected {
                                        background-color: $select-dropdown-item-select-bg;
                                        color: $white;
                                        
                                        &.dx-state-hover, &.dx-state-active {
                                            color: $white;
                                            background-color: $select-dropdown-item-select-bg;
                                        }
                                    }
                                    
                                    &.dx-state-focused {
                                        background-color: $select-dropdown-item-bg;
                                        color: $select-dropdown-item-text;
                                        
                                        &.dx-state-hover, &.dx-state-active {
                                            color: $select-dropdown-item-text;
                                            background-color: $select-dropdown-item-bg;
                                        }
                                    }

                                    &.dx-state-hover {
                                        background-color: $select-dropdown-item-bg;
                                        color: $select-dropdown-item-text;
                                    }
                                    &.dx-state-active {
                                        color: $white;
                                        background-color: $select-dropdown-item-select-bg;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

