<div class="app-l-main-container">
    <div class="app-l-page-wrap">
        <div class="app-l-image-holder">
            
            <div class="app-l-content-holder">
                <h4 class="app-l-main-content">
                    Welcome ☻
                </h4>
            </div>

        </div>
    </div>
    <footer class="app-l-screen-footer">
        <div class="app-l-footer-left">
            <p class="app-l-footer-reference">Made with ❤ by JP</p>
        </div>
    </footer>
</div>
